
*{
  font-family: "Inter";
  box-sizing: border-box;
}
body {
  margin: 0;
  
}

[data-placeholder]:empty:before{
  content: attr(data-placeholder);
  color: #888;
 
  
}


/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.list-icon path {
  stroke:  #92929D;
  ;  
}